{% extends 'base.html' %}

{% block title %}Register Form{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('auth.register') }}">
    {{ form.csrf_token }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=50) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=50) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=50) }}
    </p>
    <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=50) }}
    </p>
    <p>
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
    </p>
    <p>
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
    </p>
    <p>
        <ul>
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </p>
    <p>
        {% for error in form.recaptcha.errors %}
            {{ error }}
        {% endfor %}
        <p>{{ form.recaptcha }}</p>
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
</form>

{% endblock %}